<wrapper class="footer-primary">
	<container class="footer-purple">
		<row class="footer-content">
			<columns>
				<img src="{{ root }}/assets/img/herokusfsmall.png"  />
			</columns>
				<!-- <spacer size="20"></spacer> -->
				<columns>
				<p class="address">
					<span class="heroku">Salesforce</span></br>
					<span class="street-number">415 Mission Street, 3rd Floor</br>
					San Francisco, CA 94105</br></span>
					<a href="https://hello.heroku.com/emailPreference/epc/36622/hcWQWkuqCLFB4PXpHArmoQxVouzEXVL8Xno12jq09TQ/28a721e1373f9de12008152cad049b89daa47dd4dee9e3eecbc1823a9e2092b1/890012008">Update your email preferences</a>
					<a href="https://www.salesforce.com/company/privacy/">Privacy</a>
				</p>
			</columns>
			<columns>
				<row class="social-icons">
					<img class="" src="{{ src }}/assets/img/rssicon.png" alt="rss-feed">
					<img class="" src="{{ src }}/assets/img/stitcher.png" alt="stitcher-feed">
					<img class="" src="{{ src }}/assets/img/twittericon.png" alt="twitter">
					<img class="" src="{{ src }}/assets/img/instagramicon.png" alt="instagram">
				</row>
			</columns>
		</row>
	</container>
</wrapper>
