<wrapper class="footer" bg="#473a8f">
	<container>
		<row class="collapsed footer">
			<columns>
					<spacer class="5"></spacer>
					<img class="footer-logo" src="{{ root }}/assets/img/herokusfsmall.png" alt="heroku logo small" />
			</columns>

			<columns>
				<p class="text-center">
					<span>Salesforce</span></br>
					<span>415 Mission Street, 3rd Floor</span></br>
					<span>San Francisco, CA 94105</span></br>
					<a href="">Update your email preferences</a></br>
					<a href="">Privacy</a>
				</p>
			</columns>

			<columns>
				<center>
					<spacer class="5"></spacer>
					<menu>
						<item href=""><img class="social-icons" src="{{ root }}/assets/img/rssicon.png" alt="rss-feed"></item>
			      <item href=""><img class="social-icons" src="{{ root }}/assets/img/stitcher.png" alt="stitcher-feed"></item>
			      <item href=""><img class="social-icons" src="{{ root }}/assets/img/twittericon.png" alt="twitter"></item>
	          <item href=""><img class="social-icons" src="{{ root }}/assets/img/instagramicon.png" alt="instagram"></item>
					</menu>
					<menu>
						<item href=""><img class="social-icons" src="{{ root }}/assets/img/fbicon.png" alt="rss-feed"></item>
						<item href=""><img class="social-icons" src="{{ root }}/assets/img/giticon.png" alt="stitcher-feed"></item>
						<item href=""><img class="social-icons" src="{{ root }}/assets/img/linkdnicon.png" alt="twitter"></item>
					</menu>
				</center>
			</columns>
	</container>
</wrapper>
