<wrapper class="basic-header">
  <row class="view-in-browser">
    <columns>
      <p class="text-right">
        View in Browser
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <img
          class="heroku-logo"
          src="{{ root }}/assets/img/herokulogo.png"
          alt="Heroku Logo Main"
        />
      </center>
    </columns>
  </row>
  <row>
    <columns>
      <center>
        <p class="text-center">
          september 2019 newsletter
        </p>
      </center>
    </columns>
  </row>
</wrapper>
