<wrapper class="header" bgcolor="#473a8f">
  <container>
      <row>
        <columns>
          <p class="text-right">
            View in Browser
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <center>
            <img class="logo" src="{{ root }}/assets/img/herokulogo.png" alt="Heroku Logo Main" />
          </center>
        </columns>
      </row>
      <row>
        <columns>
          <center>
            <p class="text-center">
              august 2019 newsletter
            </p>
          </center>
        </columns>
      </row>
  </container>
</wrapper>
